@font-face {
    font-family: 'Graphie';
    src: url('../fonts/GraphieLight.ttf') format('truetype');
}


.footerFondo {
    background-color:#81267f;
    font-family: 'Graphie', sans-serif;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.soporte {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.textFoo{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.iconoFooter {
    width: 20px;
    height: 20px;
}
.marcasFoo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}

.premio11 {
    width: 70px;
    height: 50px;
    border-radius: 10px;
}

.cardFoo {
}
