@font-face {
    src: url('../fonts/HelveticaBold.ttf') format('truetype');
    font-family: 'HelveticaBold';
}

body{
    font-family: 'HelveticaBold', sans-serif;
}



.footerFondo {
    background-color:#ffc547;
    font-family: 'HelveticaBold', sans-serif;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.soporte {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.textFoo{
    color: #0000a0;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.terminn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconoFooter {
    width: 30px;
    height: 30px;
}
.marcasFoo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}

.premio11 {
    width: 80px;
    height: auto;
    border-radius: 10px;
}

.cardFoo {
}
