/* Colores primarios MARS

Azul rgb(0,0,160)
Verde rgb(0,215,185)
rojo rgb(255,20,20)
amarrillo rgb(255,220,0)
*/

/*Estilos moviles*/
/* vertical */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    src: url('../fonts/HelveticaBold.ttf') format('truetype');
    font-family: 'HelveticaBold';
}

body{
    font-family: 'HelveticaBold', sans-serif;
}


.enc {
    /* background-color: #ffc547; */
    /* #d174cf8c */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoEnc {
    width: auto;
    vertical-align: inherit;
    height: 18px; 

}

.eslEnc {
    color: #0000a0;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'HelveticaBold', sans-serif;
}

.fondoAdmin {
    background-color: rgb(225, 225, 225);
    font-family: 'HelveticaBold', sans-serif;
}

.primDivAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconoAdmin {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title1Admin {
    font-size: 1.5rem;
    color: #0000a0;
}
.segDivAdmin {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    gap: 20px;
}
.title2Admin {
    font-size: 20px;
    color: #0000a0;
    text-align: center;
}

.titImport {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 5px;
}

.btnII {
    background-color: white;
    color: #81267f;
    /* padding: 6px 10px; */
    border-radius: 4px;
    text-decoration: none;
}

.botonImport {
    background-color: #81267f;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'HelveticaBold', sans-serif;
}

/* input[type="file"] {
    display: none;
} */

.uppp {
    background-color: #81267f;
    color: white;
    max-width: 200px;
}

.btnImm {
    color: #81267f;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 5px;
    background-color: white;
}

.btnImm i {
    margin-right: 5px;
}

.btnImm:active {
    background-color: #ffc547;
    transform: translateY(2px);
    color: white;
}

.btnImm:hover {
    background-color: #ffc547;
    transform: translateY(2px);
    color: white;
}

.botonAdmin, .botonAdminV {
    background-color: #ffc547;
    color: #0000a0;
    font-size: 1.2rem;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px #0000a0;
    font-family: 'HelveticaBold', sans-serif;

}

.botonCrear, .botonCrearV {
    background-color: #ffc547;
    color: #0000a0;
    font-size: 1.2rem;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px #0000a0;
    font-family: 'HelveticaBold', sans-serif;

}

.botonObs {
    background-color: #ffc547;
    color: #0000a0;
    font-size: 1.2rem;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px #0000a0;
    font-family: 'HelveticaBold', sans-serif;

}

.administrar, .administrarV{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.obss {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.creacionn, .creacionnV {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.import{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnInicial {
    width: 80%;
    align-self: center;
}

.contenidoAdmin {
    overflow: hidden; /* Oculta el contenido que excede el tamaño del contenedor */
    max-height: 0;
    transition: max-height 0.5s ease, visibility 0s 0.5s; /* Agrega transición para max-height y delay para visibility */
    visibility: hidden; 
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffc5471c;
    border: 1px solid #ffc547;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.administrar .contenidoAdmin.open {
    max-height: 800px; /* Altura máxima del menú desplegable */
    transition: max-height 0.5s ease, visibility 0s; /* Agrega transición para max-height y visibility */
    visibility: visible;
    overflow-y: scroll;
    
}

.contenidoObs {
    overflow: hidden; 
    max-height: 0;
    transition: max-height 0.5s ease, visibility 0s 0.5s;
    visibility: hidden; 
    gap: 10px;
    width: 80%;
    margin: 0 auto;
   
}

.obss .contenidoObs.open {
    max-height: 800px;
    transition: max-height 0.5s ease, visibility 0s;
    visibility: visible;
    overflow-y: scroll;
    
}


.contenidoCrear {
    overflow: hidden; /* Oculta el contenido que excede el tamaño del contenedor */
    max-height: 0;
    transition: max-height 0.5s ease, visibility 0s 0.5s; /* Agrega transición para max-height y delay para visibility */
    visibility: hidden; 
    gap: 10px;
    width: 80%;
    margin: 0 auto;
   
}

.creacionn .contenidoCrear.open {
    max-height: 800px; /* Altura máxima del menú desplegable */
    transition: max-height 0.5s ease, visibility 0s; /* Agrega transición para max-height y visibility */
    visibility: visible;
    overflow-y: scroll;
    
}

.adminTendTT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.adminTendTT h1 {
    font-size: 1.5rem;
    color: black;
    margin: 10px 0px 10px 5px;
}

.tablaTendero {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tablaTendero td, th {
    border: 1px solid #0000a0;
    padding: 8px 3px 8px 3px;
    text-align: center;
    color: #0000a0;
}

.tablaTendero th {
    background-color: #ffc547;
    color: #0000a0;
}

.tablaTendero td {
    font-size: 13px;
}

.btnTen {
    background-color: #ffc547;
    color: #0000a0;
    padding: 6px 6px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.btnTen:active {
    background-color: #ffffff;
    transform: translateY(2px);
    border: 1px solid #ffc547;
    color: #ffc547;
}

.btnTen:hover {
    background-color: #ffffff;
    transform: translateY(2px);
    border: 1px solid #ffc547;
    color: #ffc547;
}

.btnTen2 {
    background-color: red;
    color: white;
    padding: 6px 6px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.btnTen2:active {
    background-color: #ffffff;
    transform: translateY(2px);
    border: 1px solid red;
    color: red;
}

.btnTen2:hover {
    background-color: #ffffff;
    transform: translateY(2px);
    border: 1px solid red;
    color: red;
}

.titleH {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 10px;
}

.header {
    display: flex;
    flex-direction: column;
}

.list {
    list-style: none;
}

.btnH {
    background-color: #0000a0;
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}

.navH {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.divFormu h1 {
    font-size: 24px;
    color: #0000a0;
    text-align: center;
    margin-top: 20px;
    font-family: 'HelveticaBold', sans-serif;

}

.formCrear {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    font-family: 'HelveticaBold', sans-serif;
    margin-top: 20px;
}

.formCrear label {
    font-size: 1.2rem;
    color: #0000a0;
    font-family: 'HelveticaBold', sans-serif;

}

.formCrear textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffc547;
    box-shadow: 0px 0px 5px 0px #ffc547;
    font-family: 'HelveticaBold', sans-serif;

}

.formCrear input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffc547;
    box-shadow: 0px 0px 5px 0px #ffc547;
    font-family: 'HelveticaBold', sans-serif;

}

.formCrear button {
    background-color: #ffc547;
    color: #0000a0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    font-family: 'HelveticaBold', sans-serif;

}

.formCrear button:active {
    background-color: #ffffff;
    transform: translateY(2px);
    border: 1px solid #ffc547;
    color: #ffc547;
}

.formCrear button:hover {
    background-color: #ffffff;
    transform: translateY(2px);
    border: 1px solid #ffc547;
    color: #ffc547;
}

.formCrear select {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px #ffc547;
    font-family: 'HelveticaBold', sans-serif;

}
.formCrear span {
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffc547;
    font-size: 25px;
    margin-left: 10px;
    font-family: 'HelveticaBold', sans-serif;

}
.custom-pagination {
    text-align: center;
    margin-top: 20px;
}

.custom-pagination ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.custom-pagination li {
    margin: 0 5px;
}

.custom-pagination a {
    display: inline-block;
    padding: 8px 5px;
    background-color: #ffc547;
    color: #0000a0;
    text-decoration: none;
    border-radius: 4px;
}

.custom-pagination .active a {
    background-color: white;
    color: #ffc547;
    border: 1px solid #ffc547;
}

.custom-pagination a:hover {
    background-color: #ffc547;
}

.search-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-form input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-form button {
    padding: 10px 20px;
    background-color: #ffc547;
    color: #0000a0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: white;
    color: #ffc547;
    border: 1px solid #ffc547;
}

.search-form button:active {
    background-color: #ffc547;
    color: white;
}

/* Estilos para el before-logouttt- */

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

.before {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #ffc547; */
    /* background-image: url('/../images/new/fon1.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    height: 100vh;
    margin: 0;
    font-family: 'HelveticaBold', sans-serif;
    background-color: #ffc54756;
    z-index: 1;
}

.logoEnc2 {
    width: auto;
    vertical-align: inherit;
    height: 20px; 
}

.eslEnc2 {
    color: #0000a0;
    font-size: 26px;
    text-align: center;
    font-family: 'HelveticaBold', sans-serif;
}

.avatar2 {
    width: auto;
    height: 400px;
    margin: 0 auto;

    @media (max-width: 840px) {
        height: 200px;
    }
}


/* Estilos para le modal de cambio de contraseña */
.modalContra {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    max-width: 100%;
    font-family: 'HelveticaBold', sans-serif;

}

.modalContra::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.modalContra form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.modalContra form h5 {
    font-size: 1.2rem;
    color: #0000a0;
    font-family: 'HelveticaBold', sans-serif;

}

.modalContra form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modalContra form div label {
    font-size: 1rem;
    color: #0000a0;
    font-family: 'HelveticaBold', sans-serif;

}

.modalContra form div input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'HelveticaBold', sans-serif;
    color: #0000a0;
}

.modalContra form div button {
    padding: 10px 20px;
    background-color: #0000a0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    font-family: 'HelveticaBold', sans-serif;

}

.modalContra form div button:hover {
    background-color: white;
    color: #0000a0;
    border: 1px solid #0000a0;
}

.modalContra form div button:active {
    background-color: #0000a0;
    color: white;
}

.videoStyles {
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #ffc547;
}

.obsStyles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.obsStyles label h1{
    font-size: 1.2rem;
    color: #0000a0;
    font-family: 'HelveticaBold', sans-serif;
}

.obsStyles textarea {
    color: #0000a0;
    font-family: 'HelveticaBold', sans-serif;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-buttons a,
.action-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

@media (max-width: 575.98px)and (orientation:portrait) {
    body{background: white;}
    
} 
/* horizontal */
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body{background: white;}
}

/*Estilos tabletas*/
/*Vertical*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body{background: white;}
}

/*Horizontal*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body{background: white;}
}

/*Estilos desktop*/
@media (min-width: 1199.98px)  {
    body{background: white;}
}