/* Colores primarios MARS

Azul rgb(0,0,160)
Verde rgb(0,215,185)
rojo rgb(255,20,20)
amarrillo rgb(255,220,0)
*/

/*Estilos moviles*/
/* vertical */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 575.98px)and (orientation:portrait) {
    body {
        min-height: 100vh;
    }

    .fondoAdmin {
        background-color: rgb(225, 225, 225);
    
    }

    .primDivAdmin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .iconoAdmin {
        width: 80px;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .title1Admin {
        font-size: 1.5rem;
        color: black;
    }
    .segDivAdmin {
        display: flex;
        flex-direction: column;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        gap: 20px;
    }
    .title2Admin {
        font-size: 1.2rem;
        color: black;
    }
    .botonAdmin {
        background-color: rgb(0, 0, 160);
        color: white;
        font-size: 1.2rem;
        padding: 20px 10px 20px 10px;
        border-radius: 10px;
        margin: 10px;
        text-align: center;
    }

    .botonCrear {
        background-color: rgb(0, 0, 160);
        color: white;
        font-size: 1.2rem;
        padding: 20px 10px 20px 10px;
        border-radius: 10px;
        margin: 10px;
        text-align: center;
    }

    .botonObs {
        background-color: rgb(0, 0, 160);
        color: white;
        font-size: 1.2rem;
        padding: 20px 10px 20px 10px;
        border-radius: 10px;
        margin: 10px;
        text-align: center;
    }
    
    .administrar{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .obss {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .creacionn {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contenidoAdmin {
        overflow: hidden; /* Oculta el contenido que excede el tamaño del contenedor */
        max-height: 0;
        transition: max-height 0.5s ease, visibility 0s 0.5s; /* Agrega transición para max-height y delay para visibility */
        visibility: hidden; 
        gap: 10px;
        width: 80%;
        margin: 0 auto;
        background-color: #ffc5471c;
        border: 1px solid #ffc547;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .administrar.open .contenidoAdmin {
        max-height: 800px; /* Altura máxima del menú desplegable */
        transition: max-height 0.5s ease, visibility 0s; /* Agrega transición para max-height y visibility */
        visibility: visible;
        overflow-y: scroll;
        
    }

    /* .contenidoObs {
        overflow: hidden; 
        max-height: 0;
        transition: max-height 0.5s ease, visibility 0s 0.5s;
        visibility: hidden; 
        gap: 10px;
        width: 80%;
        margin: 0 auto;
       
    }

    .obss.open .contenidoObs {
        max-height: 800px;
        transition: max-height 0.5s ease, visibility 0s;
        visibility: visible;
        overflow-y: scroll;
        
    } */

    .contenidoObs {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease;
    }
    
    .obss.open .contenidoObs {
        max-height: 800px;
    }

    .contenidoCrear {
        overflow: hidden; /* Oculta el contenido que excede el tamaño del contenedor */
        max-height: 0;
        transition: max-height 0.5s ease, visibility 0s 0.5s; /* Agrega transición para max-height y delay para visibility */
        visibility: hidden; 
        gap: 10px;
        width: 80%;
        margin: 0 auto;
       
    }

    .creacionn.open .contenidoCrear {
        max-height: 800px; /* Altura máxima del menú desplegable */
        transition: max-height 0.5s ease, visibility 0s; /* Agrega transición para max-height y visibility */
        visibility: visible;
        overflow-y: scroll;
        
    }

    
} 
/* horizontal */
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body{background: black;}
}

/*Estilos tabletas*/
/*Vertical*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body{background: orange;}
}

/*Horizontal*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body{background: blue;}
}

/*Estilos desktop*/
@media (min-width: 1199.98px)  {
    body{background: red;}
}