/* Colores primarios MARS

Azul rgb(0,0,160)
Verde rgb(0,215,185)
rojo rgb(255,20,20) #a31818
amarrillo rgb(255,220,0)
amarillo mars vecino rgb(255 197 71) #ffc547
morado mars vecino rgb(129 38 127) #81267f
cafecito mars vecino #6f3214
*/

@font-face {
    font-family: 'Graphie';
    src: url('../../fonts/GraphieLight.ttf') format('truetype');
}


/*Estilos moviles*/
/* vertical */


    #loading-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffffda; /* Color blanco */
        z-index: 9999; 
    }

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;

    }

    .fondoDashboard {
        display: flex;
        flex-direction: column;
        background-color: #ffc547;
        font-family: 'Graphie', sans-serif;

    }
    .primerDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10px;
    }
    .Encabezado {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-top: 10px;
        gap: 10px;
        margin-bottom: 15px;
    }
    .bienvenida {
        color: white;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .fraseI {
        color: white;
        font-size: 20px;
    }
    .puntos {
        color: #81267f;
        font-size: 28px;
    }
    .usericon {
        width: 80px;
        height: 80px;
        border-radius: 30px;
        background-color: white;
        margin-right: 10px;
        margin-top: 15px;
    }
    .segunDiv {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
    }
    .titulo2 {
        color: #000000;
        font-size: 25px;
        font-weight:normal;
        margin-top: 5px;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .ulCard {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .p1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .i {
        width: 80px;
        height: 80px;

    }

    .sub {
        font-size: 18px;

    }
    
    .contentTT {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-top-left-radius: 90px;
        border-top-right-radius: 90px;
        padding-bottom: 20px;
    }

    .divPTT {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #ffc547;
        margin: 10px 15px 0px 15px;
    }
    .punTT {
        font-size: 35px;
        color: #ffc547;
        font-weight:bolder;
        text-shadow: 2px 2px 4px #ffc5477b;
    }
    .tituTTT {
        color: #2b2b2b;
        font-weight: 800;
        text-shadow: 2px 2px 4px #0000007b;

    }
    .opcTT {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .titu2TTT {
        color: rgb(43, 43, 43);
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .cardssTT {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        gap: 20px;
    }

    .TT1, .TT2 {
        display: flex;
        flex-direction: row;
        gap: 30px;

    }
    .card1TT {
        width: 100%;
        background-image: url('../../images/new/premio3.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0px 0px 10px 0px #81267f;
        border-radius: 20px;

    }
    
    .linksTT {
        text-decoration: none;
        display: flex;
        width: 100%;
        height: 200px;
    }
    .c1TT {
        background-color: rgba(255, 255, 255, 0.877);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    .iTT {
        width: 70px;
        height: 70px;
    }
    .tit1TT {
        color: rgb(43, 43, 43);
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        margin-top: 5px;
    }
    .card2TT {
        width: 100%;
        background-image: url('../../images/new/redimir1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
        box-shadow: 0px 0px 10px 0px #81267f;
        border-radius: 20px;

    }
    .card3TT {
        width: 100%;
        background-image: url('../../images/new/recurso1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0px 0px 10px 0px #81267f;
        height: 200px;
        border-radius: 20px;


    }
    .card4TT {
        width: 100%;
        background-image: url('../../images/new/marcas.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
        box-shadow: 0px 0px 10px 0px #81267f;
        border-radius: 20px;

    }

    .card1TT:active {
        background-color: #ffc547;

    }

    .contenedorPre {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;
        gap: 20px;
        @media (min-width: 800px) {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            height: 100%;
        }
    }
    .divPremioTTP {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 10px 0px #81267f;
        border-radius: 10px;
        @media (min-width: 800px) {
            width: 30%;
            height: 250px;
            
        }
    }
    
    .divPremioTTP h3 {
        color: #2b2b2b;
        font-weight: 700;
        text-align: center;
        margin-top: 15px;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .rowTTP {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .rowTTP h4 {
        color: #2b2b2b;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0px;
        text-align: center;
    }

    .rowTTP p {
        color: #2b2b2b;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 0px;
        text-align: center;
    }


    .premio1 {
        width: 150px;
        height: auto;
        display: flex;
        align-items: center;
    }

    
    .premio11 {
        width: 200px;
        height: auto;
        display: flex;
        align-items: center;
    }
    
    .videoPromo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }

   
    
    
       
@media (max-width: 575.98px)and (orientation:portrait) {
    body{background: white;}
    
} 
/* horizontal */
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body{background: white;}
}

/*Estilos tabletas*/
/*Vertical*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body{background: white;}
}

/*Horizontal*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body{background: white;}
}

/*Estilos desktop*/
@media (min-width: 1199.98px)  {
    body{background: white;}
}