/* Colores primarios MARS

Azul rgb(0,0,160)
Verde rgb(0,215,185)
rojo rgb(255,20,20)
amarrillo rgb(255,220,0)
amarillo mars vecino rgb(255 197 71) #ffc547
morado mars vecino rgb(129 38 127) #81267f
cafecito mars vecino #ffc5477d
*/
@font-face {
    src: url('../../fonts/HelveticaBold.ttf') format('truetype');
    font-family: 'HelveticaBold';
}

body{
    font-family: 'HelveticaBold', sans-serif;
    overflow: hidden;
    position: relative;
}


#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

.fondoImg {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background-color: #ffc54756;
    /* @media (max-width: 840px) {
        height: 100vh;
        background-image: url('../../images/new/fon1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    } */
}

.fondoEnc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 100%;
    /* background-color: #0000007b; */
    font-family: 'HelveticaBold', sans-serif;
}

.bienvenn {
    display: flex;
    align-items: center;
    margin-top: 5%;
    @media (max-width: 840px) {
        flex-direction: column;
        margin-top: 40%;
    }
}

.vecinoTT {
    width: auto;
    height: 400px;
    margin: 0 auto;

    @media (max-width: 840px) {
        height: 200px;
    }
    
    
}


.install-button {
    padding: 10px 20px;
    background-color: #0000a0;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
  }

.nuevoTT {
    font-size: 40px;
    color: #0000a0;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'HelveticaBold', sans-serif;
    margin-top: 0px;
    @media (max-width: 840px) {
        color: #0000a0;
    }
}
.nuevo2TT {
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 0px;
    font-family: 'HelveticaBold', sans-serif;
    @media (max-width: 840px) {
        color: white;
    }
}

.marss {
    color: #81267f;
}

.divIngresoTT {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'HelveticaBold', sans-serif;

}

.inputIngresoTT, .inputIngreso2 {
    width: 250px;
    height: 55px;   
    margin: 0 auto;
    padding-left: 50px;
    font-size: 20px;
    color: #0000a0;
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 2px solid #0000a0;
}

.labelTT {
    font-size: 20px;
    color: #0000a0;
    font-family: 'HelveticaBold', sans-serif;

}

.nuevo3TT {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 0px;
    font-family: 'HelveticaBold', sans-serif;
    color: #0000a0;
}

.btnIngresoTT {
    width: 180px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 25px;
    color: #0000a0;
    border: 2px solid #0000a0;
}

.btnIngresoTT:active {
    color: white;
    transition: 0.3s ease;
    background-color: #0000a0;
}

.iconocedulaTT {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: -245px;
    margin-top: 1px;
    @media (max-width: 840px) {
        top: 50%;
        width: 35px;
        height: 35px;
        left: 12px;
        margin-left: 0px;
        transform: translateY(-50%);
    }
}

.iconotienda {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: -245px;
    margin-top: 1px;
    @media (max-width: 840px) {
        top: 50%;
        width: 35px;
        height: 35px;
        left: 8px;
        margin-left: 0px;
        transform: translateY(-50%);
    }
}

.inicioTTT {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* .inputIngreso2 {
    width: 250px;
    height: 55px;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 20px;
    box-shadow: 0 0 5px #ffc5477d;
    border: 2px solid #ffc547;
}
 */

/*Estilos moviles*/
/* vertical */
@media (max-width: 840px){
    .fondo {
        display: flex;
        background-color: white;
        width: 99.9%;
    }
    .divAma {
        background-color: #ffc547;
        border-bottom-left-radius: 200px;
        width: 99%;
        height: 250px;
    }

    .contenido {
        display: flex;
        width: 90%;
    }
    .logomars {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-left: 100px;
        max-width: 90%;
        
    }

    .divImg {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
    .logo {
        width: 200px;
        height: 200px;
    }

    .MMV {
        font-size: 65px;
        text-align: center;
        color: rgb(163, 24, 24);
        font-family: 'HelveticaBold', sans-serif;
        margin:0 0 0 0;
        padding-top: 57px;
    }

    .MMV1 {
        font-size: 65px;
        text-align: center;
        color: rgb(163, 24, 24);
        font-family: 'HelveticaBold', sans-serif;
        margin: 0 0 0 0;
        display: flex;
        justify-content: flex-start;
        position: absolute;
        top: 120px;
        left: 20px;
    }

    .diVeci {
        display: flex;
        position: absolute;
        margin-top: 50px;
        margin-left: 5px;
    }
    .vecino {
        width: 100px;
        height: 200px;
    }

    .divIngreso {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        font-family: 'HelveticaBold', sans-serif;
    }

    .tituloIngreso {
        color: rgb(111 50 20);
        font-size: 30px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .divinput {
        position: relative;
        margin: 0 auto;
    }

    .iconocedula {
        position: absolute;
        width: 28px;
        height: 28px;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        margin-top: 8px;
    }

    .inputIngreso {
        width: 250px;
        height: 55px;   
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 5px;
        padding-left: 45px;
        font-size: 20px;
        box-shadow: 0 0 5px #ffc5477d;
        border: 2px solid #ffc547;
    }
    .btnIngreso {
        width: 250px;
        height: 45px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        border-radius: 10px;
        background-color: #ffc547;
        color: #6f3214;
        font-size: 25px;
        border: none;
    }

    .btnIngreso:active {
        background-color: rgb(255, 255, 255);
        border: 2px solid #ffdc00;
        color: #ffdc00;
        transition: 0.3s ease;
    }

    .divinput2 {
        position: relative;
        margin: 0 auto;
    }
   
    
    .divFooter {
        display: flex;
        background-image: url('../../images/new/footer.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 100%;
        height: 80px;
        margin-top: 80px;
    }

    .footer {

    }

    #loading-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffffad; /* Color blanco */
        z-index: 9999; 
    }

    .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 180px;
        height: 180px;

    }

    .alert {
        padding: 3px 8px 3px 8px;
        top: 360px;
        border: 1px solid transparent;
        border-radius: 4px;
        position: absolute;
        margin-left: 10%;
    }
    
    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    
    .alert-danger a {
        color: #721c24;
        text-decoration: underline;
    }
    
    .alert-danger a:hover {
        color: #491217;
        text-decoration: none;
    }

    

    .fondoImg2 {
        width: 100%;
        height: 100vh;
        background-image: url('../../images/new/fondoprev5.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position:30%;
    }
    

    .btnTT {
        background-color: transparent;
        color: white;
        width: 110px;
        padding: 10px 10px;
        border: 2px solid white;
        border-radius: 8px;
        font-size: 22px;
        margin: 0 auto;
        font-family: 'HelveticaBold', sans-serif;
        box-shadow: 0 0 5px #ffffff7d;
        text-decoration: none;
        text-align: center;
    }

    .btnTT:active {
        background-color: white;
        color: #000000;
        transition: 0.3s ease;
    }

    
    
} 
/* horizontal */
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body{background: black;}
}

/*Estilos tabletas*/
/*Vertical*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body{background: orange;}
}

/*Horizontal*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body{background: blue;}
}

/*Estilos desktop*/
@media (min-width: 1199.98px)  {
    body{background: red;}
}